<configuration>

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="INFO"/>
    </springProfile>

    <springProfile name="gcp">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="INFO"/>

        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <!-- Optional : filter logs at or above a level -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder>
                <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level- %msg%n</pattern>
            </encoder>
            <log>application.log</log> <!-- Optional : default java.log -->
            <resourceType>gce_instance</resourceType> <!-- Optional : default: auto-detected, fallback: global -->
            <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
        </appender>

        <root level="info">
            <appender-ref ref="CLOUD" />
        </root>
    </springProfile>

</configuration>